<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57614175506-4stkag82bnfn0sa4id0rivkcjn4hs21p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57614175506-4stkag82bnfn0sa4id0rivkcjn4hs21p</string>
	<key>API_KEY</key>
	<string>AIzaSyBCf1vK9l9zJ2zvd-5isQcFfianEfwXq-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>57614175506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.edu.utas.weitedai.StrokeRehab</string>
	<key>PROJECT_ID</key>
	<string>kit721-dbe67</string>
	<key>STORAGE_BUCKET</key>
	<string>kit721-dbe67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57614175506:ios:73be9b21fe0a555a16f7cb</string>
</dict>
</plist>